//
// App.scss
//

@import "variables";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  box-sizing: border-box;

  body {
    margin: 0;
    font-family: $font-family-body;
    background-color: $bg-body;

    /*
    :global(#App) {
      text-align: ceneter;
    }
    */
  }

}

